/*https://htmlcheatsheet.com/css/*/
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #e7e7e7;
  font-family: Arial, sans-serif;
}

.head {
  padding: 50px 50px 35px;
}

.logo {
  max-width: 250px;
  display: block;
  margin: 0 auto;
}

.card {
  max-width: 600px;
  padding: 40px 45px;
  background-color: white;
  border-radius: 15px;
  margin: 0 auto;
  color: #333333;
  font-size: 16px;
}

.title {
  color: #af4e8a;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.subtitle {
  text-align: center;
  margin: 0;
  padding: 25px 0;
}

.paragraph {
  line-height: 1.5;
  margin-bottom: 40px;
}

.link {
  color: #af4e8a;
  text-decoration: none;
  font-size: 13px;
}

.footer {
  margin-top: 30px;
  text-align: center;
}

#iq5g {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}

#i4fr {
  padding-top: 5px;
  padding-right: 50px;
  padding-bottom: 4px;
  padding-left: 50px;
  background-color: rgba(0, 146, 255, 1);
}

#igri {
  height: 62px;
  position: relative;
  left: 0px;
  right: 0px;
  margin-left: 0px;
  padding: 0px;
  margin-top: 0px;
  margin-right: 1076px;
  margin-bottom: 0px;
  width: 119px;
}

#ihaoy {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
  height: 62px;
}

#ixwaa {
  font-weight: 400;
  font-kerning: none;
  --Ys-XuQ: none;
  font-family: Impact, Charcoal, sans-serif;
  width: 7px;
}

#im9th {
  color: rgb(0, 0, 0);
  font-weight: 400;
  font-kerning: none;
  --Ys-XuQ: none;
}

#iq8ms {
  text-decoration: none;
  text-align: center;
}

#iq5tx {
  color: rgb(0, 0, 0);
  font-kerning: none;
  --Ys-XuQ: none;
}

#i4cj6 {
  color: rgb(0, 0, 0);
  font-kerning: none;
  --Ys-XuQ: none;
}
